html
   body
        body(style='background-image: url(https://cdnblog.etmoney.com/wp-content/uploads/2020/08/Benefits-Of-Fixed-Deposit.jpg);background-size: 100% 100%;')
         
         h1(style='font-size: 50px; color: red; text-align: center;') Your Fixed Deposit Details
         h2(style='text-align: center;')  Amount: #{AMOUNT} 
         h2(style='text-align: center;')  Open Date and Time: #{DATE_TIME}
         h2(style='text-align: center;')  INTEREST_RATE(%): #{INTEREST_RATE}
         h2(style='text-align: center;') TIME_PERIOD(Months) : #{TIME_PERIOD}
         