html
   body
        body(style='background-image: url(https://i.pinimg.com/originals/28/2e/d4/282ed4b32c73225e1bded4921c035021.png);background-size: 100% 100%;')
         
         h1(style='font-size: 50px; color: red; text-align: center;') Payment Successful!
         h2(style='text-align: center;')  Amount: #{amnt} 
         h2(style='text-align: center;')  Sent_To: #{name}