html
   body
        body(style='background-image: url(https://media.istockphoto.com/id/1144072727/photo/business-and-finance-concept-hand-of-a-businessman-giving-money-to-his-partner.jpg?s=612x612&w=0&k=20&c=iyk9dVcN6PJxPNQBEc3YG5VZHiO4Wrto8nCQ0BC7yIM=);background-size: 100% 100%;')
         
         h1(style='font-size: 50px; color: red; text-align: center;') Loan requist Successful!
         h2(style='text-align: center;')  Amount: #{amnt} 
         h1(style='font-size: 20px; color: blue; text-align: center;') Requist money deposit to your account. Check your account details.